<h1>Welcome, <%= current_user.username %></h1>

<button type="button" id="new-button">New Story</button>
<%= button_to "User Settings", edit_user_path, method: :get, id: "settings-button" %>

<%= render partial: "stories/story_list" %>

<script charset="utf-8">
  $('#main-content').attr('class', 'content-container-light')
</script>
