<h1>Welcome, <%= current_user.username %></h1>

<%= button_to "New Story", new_story_path, method: :get %>

<h3>Stories</h3>

<% @stories.each do |story| %>
  <h4><%= link_to story.title, story_path(story) %></h4>
  <p><em><%= story.subtitle %></em></p>
<% end %>

