<h1>Edit your story...</h1>

<%= render partial: "story_form", locals: {submit_text: "Update Story"} %>

<script charset="utf-8">
  <% if @story.dark_theme %>
    $('#main-content').attr('class', 'content-container-dark')
  <% else %>
    $('#main-content').attr('class', 'content-container-light')
  <% end %>

  $('body').css('background-color', '#<%= @story.color %>')

  jscolor.installByClassName("jscolor");
</script>

