<h1>Write With You</h1>

<em>A collaborative creative writing application.</em>

<hr>

<h3>Stories</h3>

<% @stories.each do |story| %>
  <h4><%= link_to story.title, story_path(story) %></h4>
  <% if !story.subtitle.blank? %>
    <p><em><%= story.subtitle %></em></p>
  <% end %>
<% end %>


