<h1>Write With You</h1>

<em>A collaborative creative writing application.</em>

<hr>

<% @stories.each do |story| %>
  <div class="title-text"><%= link_to story.display_title, story_path(story) %></div>
  </span>
<% end %>

<script charset="utf-8">
  document.getElementById("main-content").className = "content-container-light";
</script>

