<h1>Write With You</h1>

<em>A collaborative creative writing application.</em>

<hr>

<div class="story-list-container">
  <% @stories.each do |story| %>
    <span class="story-list-item">
      <div class="ranking-display">
        <%= image_tag "rank-backdrop", class: "ranking-backrop" %>
        <div class="ranking"><%= '%.1f' % story.rank %> </div>     
      </div>
      <div class="title-text"><%= link_to story.display_title, story_path(story) %></div>
    </span>
  <% end %>
</div>

<script charset="utf-8">
  document.getElementById("main-content").className = "content-container-light";
</script>

