.story-body {
  text-align: justify;
  text-align-last: center;
  word-wrap: break-word;
}

.story-container {
  width: 200px;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
}

.story-list-container {
  display: flex;
  flex-flow: column nowrap;
}

.story-list-item-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.story-rank-container {
  position: relative;
  width: 36px;
  height: 36px;
  text-align: center;
  margin: 4px;
}

.story-rank-backdrop {
  min-width: 36px;
}

.story-rank {
  position: absolute;
  top: 9px;
  left: 8px;
}

.story-title {
  font-size: 1.2em;
  margin: 6px 0px;
}

.story-ui-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.story-legend-container {
  display: flex;
  flex-flow: column nowrap; 
  justify-content: center;
  align-items: center;
}

.story-theme-checkbox {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.story-buttons-span {
  display: flex;
  flex-direction: row;
  margin: 0px 0px 6px 0px;
}

.story-submit-button {
  display: flex;
  justify-content: center;
}

.snippet-length {
  display: flex;
  text-align: center;
}

.snippet-new {
  display: none;
  text-decoration: none;
}

.snippet-display {
  font-size: 1.2em;
  text-decoration: none;
}

.vote-radio-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 0px 0px 0px;
}

.vote-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px 16px 10px 16px;
}
