// Place all the styles related to the stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.inline-buttons-container {
  display: flex;
  flex-direction: row;
}

.inline-buttons {
  width: 8em;
  margin: 6px;
}

.story-body {
  text-align: justify;
  word-wrap: break-word;
}

.new-snippet-link {
  display: none;
  color: inherit;
  text-decoration: none;
}

.edit-snippet-link {
  text-decoration: none;
}

.edit-snippet-link:hover {
  color: #9d29a5;
}

#story-container {
  width: 200px;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
}

.story-list-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.theme-checkbox {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.snippet-length {
  display: flex;
  margin: 0px 100px 0px 0px;
  text-align: center;
}

.vote-container {
  display: flex;
  flex-flow: column nowrap;
  margin: 3px;
}

.vote-arrow-up {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.vote-arrow-down {
  width: 16px;
  height: 16px;
  cursor: pointer;
  transform: rotate(180deg);
}

.vote-rank {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px;
}

.story-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

