.signup-container {
  display: flex;
  flex-flow: column nowrap;
}

.signup-submit-button {
  display: flex;
  justify-content: center;
}

#story-header-div {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

#story-central-div {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#story-prev-div {
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
}

#story-next-div {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}
